* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Figtree", sans-serif;
}

body {
	background-color: hsl(47, 88%, 63%);
	font-size: 16px;
}

#main{
	margin: 200px auto 20px;
	border: 2px solid  hsl(0, 0%, 7%);
	border-radius: 15px;
	background-color: hsl(0, 0%, 100%);
	padding: 20px ;
	width: 380px;
	box-shadow: 5px 5px  hsl(0, 0%, 7%);
}
.cover {
	border-radius: 15px;
}

.body-medium {
	background-color: hsl(47, 88%, 63%);
	width: fit-content;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 20px;
}

p {
	margin: 10px 0 20px 0;
	font-weight: 500;
	font-size: 1rem;
}

h2, h3 {
	font-weight: 800;
	font-size: 1.5rem;
}

#css-des {
	color: hsl(0, 0%, 50%);
}

.author {
	display: flex;
	align-items: center;
}

.author img {
	margin-right: 15px;
}

.course-title:hover {
	cursor: pointer;
	color:  hsl(47, 88%, 63%);
}

#main:hover {
	box-shadow: 10px 10px hsl(0, 0%, 7%);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }